Shallow Copy -

In [32]:
l1 = [1,2,3,4]

In [3]:
l2 = l1

In [4]:
l2.append(10)

In [5]:
l1

[1, 2, 3, 4, 10]

In [6]:
id(l1)

4593531912

In [7]:
id(l2)

4593531912

In [8]:
import copy

In [38]:
l3 = copy.copy(l1)

In [39]:
l3

[1, 2, 3, 4]

In [40]:
l3[1] = 10

In [41]:
l3

[1, 10, 3, 4]

In [42]:
l1

[1, 2, 3, 4]

In [14]:
id(l3)

4598211208

In [15]:
id(l1)

4593531912

In [55]:
li1 = [1, 2, [3,5], 4]

In [56]:
li2 = copy.copy(li1)

In [57]:
li2

[1, 2, [3, 5], 4]

In [58]:
li1

[1, 2, [3, 5], 4]

In [59]:
print ("The original elements before shallow copying")
for i in range(0,len(li1)):
    print (li1[i],end=" ")

The original elements before shallow copying
1 2 [3, 5] 4

In [63]:
li2[2][0] = 700

In [64]:
li2

[1, 7, [700, 5], 4]

In [65]:
li1

[1, 2, [700, 5], 4]

In [68]:
li3 = copy.deepcopy(li1)

In [70]:
li1

[1, 2, [700, 5], 4]

In [71]:
li3[2][1] = 1000

In [72]:
li3

[1, 2, [700, 1000], 4]

In [74]:
li1

[1, 2, [700, 5], 4]

## List and Tuple

In [75]:
l1 = [1,2,3,4]

In [76]:
t1 = (1,2,3,4)

In [77]:
mydb = [(1,"name1", 100), (2, "name2", 200)]

#### Fixed no of rows - Tuples
#### varying rows - lists

## Ternanry Operator

In [79]:
## Monkey Patch

In [85]:
class MyClass(object):
    def f(self):
        print("f()")

def monkey(self):
    print("monkey()")

In [86]:
x = MyClass()

In [87]:
x.f()

f()

In [92]:
MyClass.f = monkey

In [93]:
y = MyClass()

In [94]:
y.f()

monkey()

## Random in Py

In [95]:
from random import shuffle

In [96]:
l  = [1,2,3,4,5]

In [101]:
shuffle(l)

In [102]:
l

[1, 3, 5, 4, 2]

### Split, sub, subn

In [104]:
import re

In [105]:
re.sub(r'ka', '', 'kartik')

'rtik'

In [108]:
re.subn(r'ka', '', 'kartikka')

('rtik', 2)

### LAmbda, Map, Filter, Reduce

In [144]:
t = lambda x: 2*x

In [146]:
f1 = lambda x,y: x+y

In [145]:
t(50)

100

In [147]:
f1(10,20)

30

In [148]:
f2 = lambda x,y: x if x>y else y

In [149]:
f2(5,10)

10

In [150]:
a = [1,2,3,4]

In [153]:
[200*x for x in a]

[200, 400, 600, 800]

In [156]:
f3 = lambda x: x*2,a

In [157]:
f3(100,200,300)

TypeError: 'tuple' object is not callable

In [160]:
list(map(lambda x: x*2,a))

[2, 4, 6, 8]

In [166]:
list(filter(lambda x:x>1, a))

[2, 3, 4]

In [174]:
functools.reduce(lambda x,y: x*y,a)

24

In [171]:
import functools

In [110]:
s = "VP OR Vice President OR Senior Vice President OR SVP OR EVP OR Executive Vice President OR CVP OR corporate vice president OR GM OR General Manager OR Head OR Lead OR CTO OR Chief technology officer OR CIO OR Chief information officer OR Chief"

In [112]:
titles = s

In [113]:
refined_titles = list(map(lambda x:x.lower(), titles))

In [115]:
refined_titles = ['VP OR Vice President OR Senior Vice President OR SVP OR EVP OR Executive Vice President OR CVP OR corporate vice president OR GM OR General Manager OR Head OR Lead OR CTO OR Chief technology officer OR CIO OR Chief information officer OR Chief', 'Assistant']

In [116]:
refined_titles

['VP OR Vice President OR Senior Vice President OR SVP OR EVP OR Executive Vice President OR CVP OR corporate vice president OR GM OR General Manager OR Head OR Lead OR CTO OR Chief technology officer OR CIO OR Chief information officer OR Chief',
 'Assistant']

In [117]:
refined_titles = list(map(lambda x:x.lower(), refined_titles))

In [118]:
refined_titles

['vp or vice president or senior vice president or svp or evp or executive vice president or cvp or corporate vice president or gm or general manager or head or lead or cto or chief technology officer or cio or chief information officer or chief',
 'assistant']

In [122]:
refined_titles[0].replace(' or ', ' ').replace(' OR ', ' ').replace(' and ', ' ').replace(' AND ', ' ').split()

['vp',
 'vice',
 'president',
 'senior',
 'vice',
 'president',
 'svp',
 'evp',
 'executive',
 'vice',
 'president',
 'cvp',
 'corporate',
 'vice',
 'president',
 'gm',
 'general',
 'manager',
 'head',
 'lead',
 'cto',
 'chief',
 'technology',
 'officer',
 'cio',
 'chief',
 'information',
 'officer',
 'chief']

In [125]:
refined_titles[0].split(" or ")

['vp',
 'vice president',
 'senior vice president',
 'svp',
 'evp',
 'executive vice president',
 'cvp',
 'corporate vice president',
 'gm',
 'general manager',
 'head',
 'lead',
 'cto',
 'chief technology officer',
 'cio',
 'chief information officer',
 'chief']

In [130]:
tsplit(refined_titles[0], (' or ',' and '))

['vp',
 'vice president',
 'senior vice president',
 'svp',
 'evp',
 'executive vice president',
 'cvp',
 'corporate vice president',
 'gm',
 'general manager',
 'head',
 'lead',
 'cto',
 'chief technology officer',
 'cio',
 'chief information officer',
 'chief']

In [127]:
def tsplit(string, delimiters):
    """Behaves str.split but supports multiple delimiters."""
    
    delimiters = tuple(delimiters)
    stack = [string,]
    
    for delimiter in delimiters:
        for i, substring in enumerate(stack):
            substack = substring.split(delimiter)
            stack.pop(i)
            for j, _substring in enumerate(substack):
                stack.insert(i+j, _substring)
            
    return stack

In [135]:
refined_titles = ['("information" OR "info") AND ("technology" OR "tech")']

In [136]:
refined_titles = list(map(lambda x:x.lower(), refined_titles))

In [137]:
title = re.sub('[^A-Za-z0-9 ]+', '', refined_titles[0])

In [138]:
title

'information or info and technology or tech'

In [139]:
tsplit(title, (' or ',' and '))

['information', 'info', 'technology', 'tech']

In [ ]:
def largest_number(nums):
    pass

In [ ]:
largest_number([1,2,3,4])   #-> "4321"
largest_number([0,55,50])   #-> "55500"

In [175]:
new_list = []
l1 = [1,2,3,4]
new_list.append(max(l1))

4

In [ ]:
#Input: [9, 5, 30, 3, 34] , Output: "9534330"

In [177]:
max(l1)

4

In [178]:
new_list

NameError: name 'new_list' is not defined

In [191]:
l1 = [1,2,3,4]
l1.sort(reverse=True)
l1 = [str(x) for x in l1]
''.join(l1)

'4321'

In [192]:
l1 = [0,55,50]
l1.sort(reverse=True)
l1 = [str(x) for x in l1]
''.join(l1)

'55500'

In [193]:
l1 = [9, 5, 30, 3, 34]
l1.sort(reverse=True)
l1 = [str(x) for x in l1]
''.join(l1)

'3430953'

In [194]:
l1 = [9, 5, 30, 3, 34]

In [196]:
def find_largest(i):
    divisor = 9
    while divisor < i:
        divisor = 10*(divisor+9)
    return i/divisor

In [200]:
l2 = sorted(l1, key=find_largest, reverse=True)
l2 = [str(x) for x in l2]
''.join(l2)

'9533430'

In [ ]:
9534330

In [ ]:
from fractions import Fraction
sorted(l1)

In [234]:
from fractions import Fraction
list1 = sorted([9, 5, 30, 3, 34], key=lambda x: Fraction(x, 10**len(str(x))-1), reverse=True)
list1 = [str(x) for x in list1]
''.join(list1)

'9534330'

In [236]:
class Sol1:
    def find_largest(self, nums):
        list1 = sorted(nums, key=lambda x: Fraction(x, 10**len(str(x))-1), reverse=True)
        list1 = [str(x) for x in list1]
        return ''.join(list1)

In [238]:
S2 = Sol1()

In [239]:
S2.find_largest([9, 5, 30, 3, 34])

'9534330'